body {
    margin: 0;
}

main {
    margin: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    
    background: rebeccapurple;
    color: white;
    font-family: Helvetica;
    font-weight: 300;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}
.main{
	display:flex;
	padding:20px;
}
.main .col-md-3{
	width: 20%;
}
.main .col-md-6{
	width: 60%;
    padding: 0px 20px 0px 20px;
}

.sections {
    padding: 10px;
    background: silver;
    border: 1px solid grey;
}
.article-sm{
    display: flex;
}
.article-sm p{
    padding: 25px;
}
.right_ads img{
    height: 34vh;
    width: 17vw;
    padding: 5px;
    margin-bottom: 10px;
}